fieldset {
    border: 1px solid;
    width: 162px;
    margin-top: 24px;
    border-radius: 6px;

}
legend {
    font-size: 14px;
    background-color: blue;
    color: white;
    padding: 3px 6px;
    width: 120px;
    position: absolute;
    margin-top: -10px;
    margin-left: 18px;
    border-radius: 6px;
    text-align: center;
}

input {
    margin: 6px;
}
 
